body{
    margin: 0px;
    font-family: "Roboto", sans-serif;
    
}

h1{

    font-size: 50px;
}

.name-light{
    color: rgb(240, 244, 17);
}
.half-weidh{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.half-weidh img{
    width: 100%;
}
.top-banner{
background-image: url(/images/top-banner.png);
background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
text-decoration: none;
background-image: linear-gradient(45deg, lightsalmon, tomato);
padding: 10px 20px;
border-radius: 10px;
color: wheat;
font-weight: 700;

}
h2{
    font-size: 40px;
}
p{
color: darkolivegreen;
}
.lower{
background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;

}
.single-exp{
    box-shadow: 10px 10px 40px gray;
    height: 80%;
    background-color: white;

}
.lowerexper{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
#sldeshado1{
    border-left: 7px solid;
    border-image:linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;

}
#sldeshado2{
    border-left: 7px solid;
    border-image:linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;

}
footer p{
    text-align: center;
    font-size: 12px;
}